## Analysis of customer characteristics, current offers by Telco and churn rate
In this notebook, my goal is to look at characteristics of customers and their current Telco plans to find patterns in churn decisions as well as the tendency to refer Telco to their friends. There are two parts of the analysis: </br>
<b> 1. Use SQL to look at the overall count of customers with specific conditions </b> </br> 
<b> 2. Use Python to visualize customer segmentation </b> </br>

### Import data

In [31]:
import pandas as pd
import sqlite3

In [32]:
excel_file = "/Users/tu/Documents/Tu/Data_Portfolio/Customer_churn/Dataset/a_IBM Telco Customers Churn Datasets.xlsx"
database =  "telco_churn.db"

In [33]:
excel_data = pd.ExcelFile(excel_file)
all_sheets = excel_data.sheet_names


# exclude the Population and Telco_churn sheets
sheets_included = all_sheets[:-2]

# create a connection
connect = sqlite3.connect(database)

# load each sheet into the database
for sheet in sheets_included:
    df = excel_data.parse(sheet)
    #convert the data to tables to use in sql
    df.to_sql(sheet, connect, if_exists = 'replace', index =  'False')
    print(f"Loaded sheet: {sheet} into the database")

connect.close()
print("Sucessfully loaded all sheets")

Loaded sheet: Customer_Info into the database
Loaded sheet: Service_Options into the database
Loaded sheet: Online_Services into the database
Loaded sheet: Payment_Info into the database
Loaded sheet: Status_Analysis into the database
Loaded sheet: Location_Data into the database
Sucessfully loaded all sheets

In [34]:
%load_ext sql

In [35]:
%sql sqlite:////Users/tu/Documents/Tu/Data_Portfolio/Customer_churn/telco_churn.db

# Data Analysis

### Churn Rate

In [38]:
%%sql
SELECT 
    customer_status AS 'Customer Status', 
    COUNT(customer_id) AS 'Number of Customers',
    ROUND((COUNT(customer_id)*100.0)/(SELECT COUNT(customer_id) FROM Status_Analysis), 1) AS 'Percentage of customers'
FROM Status_Analysis
GROUP BY customer_status

 * sqlite:////Users/tu/Documents/Tu/Data_Portfolio/Customer_churn/telco_churn.db
Done.

[('Churned', 1869, 26.5), ('Joined', 454, 6.4), ('Stayed', 4720, 67.0)]

<b>Churn rate: 26.5% </b> </br>
Churned customers account for over a quarter of total number of customers, which is considered high. This means that we should look at the reasons or similar patterns why many customers left Telco. </br>
</br>
<b>Percent of new customers: 6.4%</b> <br>
This indicates that while there are still new customers joining, the rate of joining is much lower than the rate of customers leaving. Telco needs to improve their strategies to attract new customers.</br>
</br>
<b>Percent of loyal customers: 67%</b> <br>
Large amount of customers choose to stay with Telco. This shows the need for Telco to improve customer satisfaction while working on loyalty programs for existing customers.

### Churn Rate by customers demographics

In [41]:
%%sql 
SELECT c.gender, COUNT(c.customer_id) AS 'Number of customers'
FROM Customer_Info as c
JOIN Status_Analysis as s
ON c.customer_id = s.customer_id
WHERE customer_status = 'Churned'
GROUP BY c.gender

 * sqlite:////Users/tu/Documents/Tu/Data_Portfolio/Customer_churn/telco_churn.db
Done.

[('Female', 939), ('Male', 930)]

<b> Gender </b> </br> 
Number of customers who left is equal for both male and female. There is no evidence that genders affect customers' decision to leave in this dataset.

In [43]:
%%sql 
SELECT 
    CASE 
        WHEN c.age >= 60 THEN 'Baby Boomers'
        WHEN c.age BETWEEN 44 AND 59 THEN 'Gen X'
        WHEN c.age BETWEEN 28 AND 43 THEN 'Millennials'
        WHEN c.age BETWEEN 19 AND 27 THEN 'Gen Z'
    END AS age_group,
    COUNT(customer_id) AS 'Number of customers'
FROM Customer_Info as c
JOIN Status_Analysis as s
USING (customer_id) 
GROUP BY age_group 
ORDER BY COUNT(customer_id) DESC

 * sqlite:////Users/tu/Documents/Tu/Data_Portfolio/Customer_churn/telco_churn.db
Done.

[('Gen X', 2065),
 ('Millennials', 2032),
 ('Baby Boomers', 1782),
 ('Gen Z', 1164)]

In [44]:
%%sql 
SELECT 
    CASE 
        WHEN c.age >= 60 THEN 'Baby Boomers'
        WHEN c.age BETWEEN 44 AND 59 THEN 'Gen X'
        WHEN c.age BETWEEN 28 AND 43 THEN 'Millennials'
        WHEN c.age BETWEEN 19 AND 27 THEN 'Gen Z'
        ELSE 'Other'
    END AS age_group,
    ROUND((COUNT(customer_id)*100.0)/(SELECT COUNT(customer_id) FROM Customer_Info), 1) AS churn_rate
FROM Customer_Info as c
JOIN Status_Analysis as s
USING (customer_id) 
WHERE customer_status =  'Churned'
GROUP BY age_group 
ORDER BY churn_rate DESC

 * sqlite:////Users/tu/Documents/Tu/Data_Portfolio/Customer_churn/telco_churn.db
Done.

[('Baby Boomers', 9.0), ('Gen X', 7.1), ('Millennials', 6.9), ('Gen Z', 3.6)]

<b> Age </b> </br> 
Majority of the customers are Gen X and Millennials. Baby Boomers accounts for the second smallest fraction of total customers and have the highest churn rate among all age group. This calls for changes in marketing strategies for this particular age group, as well as changes in offers and customer services.

### Main reason for churn

In [47]:
%%sql 
SELECT 
    churn_category AS 'Reason', 
    COUNT(customer_id) AS 'Number of customers'
FROM Status_Analysis
WHERE customer_status = 'Churned'
GROUP BY churn_category
ORDER BY COUNT(customer_id) DESC

 * sqlite:////Users/tu/Documents/Tu/Data_Portfolio/Customer_churn/telco_churn.db
Done.

[('Competitor', 841),
 ('Attitude', 314),
 ('Dissatisfaction', 303),
 ('Price', 211),
 ('Other', 200)]

<b> Main reason for churning: Competitor </b> </br> 
Significant number of customers (over 800 customers) decide to leave Telco for other companies. This means that there is a chance that offers or plans by Telco is not as appealing as other competitors. Since we don't have information on other companies' offerings, we can use our current dataset to narrow down factors that can lead to higher churn rate of customers.

In [49]:
%%sql 
SELECT offer, COUNT(customer_id) AS 'Number of customers who churned'
FROM Service_Options
JOIN Status_Analysis
USING (customer_id)
WHERE customer_status = 'Churned'
GROUP BY offer
ORDER BY COUNT(customer_id) DESC

 * sqlite:////Users/tu/Documents/Tu/Data_Portfolio/Customer_churn/telco_churn.db
Done.

[(None, 1051),
 ('Offer E', 426),
 ('Offer D', 161),
 ('Offer B', 101),
 ('Offer C', 95),
 ('Offer A', 35)]

<b> Number of churned customers by offers received </b> </br>
Customers who received no offer tend to leave Telco more than those that receive certain type of offer. Offer A seems to be the best in terms of keeping loyal customers.

### Analysis of current offers

#### Likeliness to refer to a friend based on the offer they received

In [53]:
%%sql
WITH CustomerCounts AS (
    SELECT 
        offer,
        COUNT(CASE WHEN referred_a_friend = 'Yes' THEN customer_id END) AS customers_referred, 
        COUNT(customer_id)AS customers_by_offer
    FROM Service_Options
    GROUP BY offer
)
SELECT 
    offer,
    customers_referred AS "Number of customers who referred a friend",
    customers_by_offer,
    ROUND(customers_referred * 100.0 / customers_by_offer, 1) AS referral_percent
FROM CustomerCounts
ORDER BY referral_percent DESC

 * sqlite:////Users/tu/Documents/Tu/Data_Portfolio/Customer_churn/telco_churn.db
Done.

[('Offer A', 388, 520, 74.6),
 ('Offer B', 490, 824, 59.5),
 (None, 1758, 3877, 45.3),
 ('Offer C', 184, 415, 44.3),
 ('Offer D', 220, 602, 36.5),
 ('Offer E', 182, 805, 22.6)]

<b> Offers and tendency to refer to other people </b> </br>
Offer A has the highest proportion of customers who made a referral to their friends. Combined with previous result, offer A works best in both keeping current customers and expanding Telco to potential new customers through referrals.

#### Do customers with higher tenure more likely to refer to more friends?

In [56]:
%%sql 
SELECT 
    CASE
        WHEN tenure BETWEEN 0 AND 6 THEN 'High risk of churn'
        WHEN tenure BETWEEN 7 AND 12 THEN 'Early tenure'
        WHEN tenure BETWEEN 13 AND 24 THEN 'Moderate tenure'
        WHEN tenure BETWEEN 25 AND 36 THEN 'Satisfied customer'
        WHEN tenure BETWEEN 37 AND 60 THEN 'Long-term customer'
        WHEN tenure>60 THEN 'Long-term customer'
    END AS loyalty_status, 
    COUNT(CASE WHEN customer_status = 'Churned' THEN customer_id END) AS churn_customers,
    COUNT(CASE WHEN referred_a_friend = 'Yes' THEN customer_id END) AS referred_friends
FROM Service_Options
JOIN Status_Analysis
USING (customer_id)
GROUP BY loyalty_status
ORDER BY referred_friends DESC

 * sqlite:////Users/tu/Documents/Tu/Data_Portfolio/Customer_churn/telco_churn.db
Done.

[('Long-term customer', 358, 1895),
 ('Moderate tenure', 294, 420),
 ('Satisfied customer', 180, 381),
 ('High risk of churn', 784, 300),
 ('Early tenure', 253, 226)]

<b> Likeliness of churn </b> </br>
Long-term customers are second most likely to leave Telco, following customers that are categorized as having high risk of churn. This signifies that Telco needs to improve their brand loyalty by creating rewards programs or collecting more feedbacks on customers. </br>

<b> Likeliness of referring a friend </b> </br>
Telco can expand their customer referral program to

### % of customers for each type of payment, by customer status

In [60]:
%%sql
SELECT 
    s.customer_status, 
    p.payment_method, 
    COUNT(p.customer_id) AS 'Number of customers',
    SUM(COUNT(s.customer_id)) OVER (PARTITION BY s.customer_status) AS 'Total customers by status',
    ROUND(COUNT(p.customer_id)*100.0/SUM(COUNT(s.customer_id)) OVER (PARTITION BY s.customer_status), 1) AS 'Percentage by customer status (%)'
FROM Payment_Info AS p 
JOIN Status_Analysis AS s
USING (customer_id)
WHERE s.customer_status = 'Churned'
GROUP BY p.payment_method

 * sqlite:////Users/tu/Documents/Tu/Data_Portfolio/Customer_churn/telco_churn.db
Done.

[('Churned', 'Bank transfer (automatic)', 258, 1869, 13.8),
 ('Churned', 'Credit card (automatic)', 232, 1869, 12.4),
 ('Churned', 'Electronic check', 1071, 1869, 57.3),
 ('Churned', 'Mailed check', 308, 1869, 16.5)]

In [61]:
%%sql
-- This is onot helpful 
SELECT 
    s.customer_status, 
    p.payment_method, 
    COUNT(p.customer_id) AS 'Number of customers',
    SUM(COUNT(p.customer_id)) OVER (PARTITION BY p.payment_method) AS 'Total customers by payment method',
    ROUND(COUNT(p.customer_id)*100.0/SUM(COUNT(p.customer_id)) OVER (PARTITION BY p.payment_method), 1) AS 'Percentage by payment method (%)'
FROM Payment_Info AS p 
JOIN Status_Analysis AS s
USING (customer_id)
GROUP BY p.payment_method, s.customer_status

 * sqlite:////Users/tu/Documents/Tu/Data_Portfolio/Customer_churn/telco_churn.db
Done.

[('Churned', 'Bank transfer (automatic)', 258, 1544, 16.7),
 ('Joined', 'Bank transfer (automatic)', 33, 1544, 2.1),
 ('Stayed', 'Bank transfer (automatic)', 1253, 1544, 81.2),
 ('Churned', 'Credit card (automatic)', 232, 1522, 15.2),
 ('Joined', 'Credit card (automatic)', 39, 1522, 2.6),
 ('Stayed', 'Credit card (automatic)', 1251, 1522, 82.2),
 ('Churned', 'Electronic check', 1071, 2365, 45.3),
 ('Joined', 'Electronic check', 148, 2365, 6.3),
 ('Stayed', 'Electronic check', 1146, 2365, 48.5),
 ('Churned', 'Mailed check', 308, 1612, 19.1),
 ('Joined', 'Mailed check', 234, 1612, 14.5),
 ('Stayed', 'Mailed check', 1070, 1612, 66.4)]

#### Number of dependents and churn - pie chart

In [81]:
library(ggplot2)

NameError: name 'library' is not defined

In [ ]:

payment_methods =  ['Bank transfer (automatic)', 'Credit card', 'Electronic check', 'Mailed checked']